/* unvisited link */
.app-nav-footer-desc > a:link {
  color: rgba(255, 255, 255, 0.623);
}

/* visited link */
.app-nav-footer-desc > a:visited {
  color: rgba(255, 255, 255, 0.623);
}

/* mouse over link */
.app-nav-footer-desc > a:hover {
  color: rgba(255, 255, 255, 0.253);
}

/* selected link */
.app-nav-footer-desc > a:active {
  color: rgba(180, 14, 2, 0.596);
}

.app-footer{
    position: fixed;
    width: 100%;
    top: 90%;
    height: 10%;
    background-color: #36486b;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: top;
    vertical-align: text-top;
    box-shadow: 0px -5px #d64161;
}

.app-nav-footer-title{
    padding-left: 2%;
    font-size: 1.5vw; 
    vertical-align: text-top;
    color: white;
    margin-top: 0.5%;
}

.app-nav-footer-desc{
    padding-left: 2%;
    font-size: 0.8vw;
    vertical-align: top;
    max-width: 25%;
    color: rgba(255, 255, 255, 0.623);
    margin-top: 0.5%;
}

.app-nav-icon {
    width: 3rem;
    height: 3rem;
    padding-left: 6rem;
    margin-right: 6rem;
    float: right;
    border-radius: 10px;
}

/*@media only screen and (max-width: 600px){
    .app-nav-footer-title{
        font-size: 10px;
    }
}*/

.app-nav-container{
    flex: 4;
}