/*
 * Tristan Hilbert
 * 4/18/2020
 * AppNavBar Styles
 *
 */

.app-nav-bar{
    position: fixed;
    width: 100%;
    background-color: #50394c;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
}

.app-nav-title{
    margin: 0px 100px;
    padding-left: 3rem;
    font-size: 20px;
    vertical-align: middle;
    color: white;
}

@media only screen and (max-width: 600px){
    .app-nav-title{
        font-size: 14px;
    }
}

.app-nav-container{
    flex: 4;
}