/*
 * Tristan Hilbert
 * 4/18/2020
 * AppNavBar Styles
 *
 */

.app-nav-bar{
    position: fixed;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: #3895D3;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

}

.app-nav-menu{
    display: flex;
    padding: 2px;
    
}

.app-nav-menu > button{
    background-color: #3895D3;
    min-width: initial;
}

.app-nav-menu > button:hover{
    background-color: steelblue;
}

.app-nav-title{
    margin: 0px 30px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px){
    .app-nav-title{
        font-size: 14px;
    }
}

.app-nav-container{
    flex: 4;
}