/*
 * Tristan Hilbert
 * 4/18/2020
 * ReactUploadImage Stylesheet
 *
 */


.upload-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form input{
    margin: 20px;
}

.svg_icons{
  transform: scale(1.8);
}

.upload-form .file-input{
    margin-top: 5px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.upload-form .file-label{
    background-color: #3895D3;
    color: white;
    padding: 6px;
    border-radius: 3px;
    margin: 5px;    
}

.upload-form .file-label:hover{
    background-color: steelblue;
}

.upload-form .file-label:focus{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}