/*
 * Tristan Hilbert
 * 4/18/2020
 * ReactUploadImage Stylesheet
 *
 */

.upload-buttons{
    width: 10rem;
    height: 10rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.upload-form{
    display: flex;
    align-items: center;
}

.upload-form input{
    margin: 20px;
}

.bigicon{
  transform: scale(3);
}
.entericon{
  transform: scale(2.7);
}

.upload-form .file-input{
    margin-top: 5px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.upload-form .file-label{
    background-color: #3895D3;
    color: white;
    padding: 6px;
    border-radius: 3px;
    margin: 5px;    
}

.upload-form .file-label:hover{
    background-color: steelblue;
}

.upload-form .file-label:focus{
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}